mixin events(dateNum, dateMonth, title, text, ImgSrc)
    article(class="events")
        section(class="events__image-container")
            img(class="events__image" src=ImgSrc alt="pic")
        section(class="events__content")
            div(class="events__date")
                div(class="events__num")=dateNum 
                div(class="events__month")=dateMonth
            div(class="events__title")=title
            div(class="events__text")= text
            button(class="events__button") add to calendar